# NLP

In [1]:
rawData = open("SMSSpamCollection.tsv").read()

rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [2]:
parsedData = rawData.replace("\t","\n").split('\n')

In [4]:
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [5]:
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [6]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [7]:
import pandas as pd

fullCorpus = pd.DataFrame({'label': labelList,
                          "body":textList})

ValueError: arrays must all be same length

In [8]:
print(len(labelList))
print(len(textList))

5571
5570

In [9]:
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [10]:
fullCorpus = pd.DataFrame({'label': labelList[:-1],
                          "body":textList})
fullCorpus.head()

  label                                               body
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [39]:
pd.set_option("display.max_colwidth", 100)
dataset = pd.read_csv("SMSSpamCollection.tsv", sep="\t", header =None)
dataset.columns=['label','body_text']
dataset.head()

,label,body_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2,ham,"Nah I don't think he goes to usf, he lives around here though"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!

In [14]:
print("Input data has {} rows and {} columns".format(len(dataset), 
                                                     len(dataset.columns)))

Input data has 5568 rows and 2 columns

In [17]:
print("out of {} rows, {} are spam, {} are ham".format(len(dataset),
                                                       len(dataset[dataset["label"] == "spam"]),
                                                      len(dataset[dataset["label"]=="ham"])))

out of 5568 rows, 746 are spam, 4822 are ham

In [18]:
print("Numer of null in label: {}".format(dataset["label"].isnull().sum()))
print("Numer of null in text: {}".format(dataset["body_text"].isnull().sum()))

Numer of null in label: 0
Numer of null in text: 0

In [20]:
import re

re_test = "this is string text"
re_test_messy = "this   is        string          text"
re_test_messy1 = "This-is-string***text"

In [21]:
re.split("\s", re_test)

['this', 'is', 'string', 'text']

In [23]:
re.split("\s+", re_test_messy)

['this', 'is', 'string', 'text']

In [28]:
re.split("\W+", re_test_messy1)  #\W+ uses non word character

['This', 'is', 'string', 'text']

In [29]:
re.findall("\S+", re_test_messy) # find all word look for 
                                #one or more non with space, is filp of \s

['this', 'is', 'string', 'text']

In [31]:
re.findall("\w+", re_test_messy1) # look for letter flip of \W

['This', 'is', 'string', 'text']

In [32]:
pep8_test = "I try to follow PEP8 guidelines "

In [35]:
re.findall("[a-z]+", pep8_test)

['try', 'to', 'follow', 'guidelines']

In [36]:
re.findall("[A-Z]+", pep8_test)

['I', 'PEP']

In [37]:
re.findall("[A-Z]+[0-9]+", pep8_test)

['PEP8']

In [38]:
re.sub("[A-Z]+[0-9]+", "PEP8 python style guide", pep8_test)

'I try to follow PEP8 python style guide guidelines '

In [40]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [41]:
"I like NLP." == "I like NLP"

False

In [46]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct
dataset['body_text_clean']=dataset['body_text'].apply(lambda x:remove_punct(x))
dataset.head()

,label,body_text,body_text_clean
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

In [48]:
def tokenize(text):
    tokens = re.split("\W+", text) # non word charter
    return tokens

dataset['body_text_tokenized']=dataset['body_text_clean'].apply(lambda x: tokenize(x.lower()))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenized
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...,"[ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, i, promise, ..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...,"[free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to..."
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,"[nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent,"[even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]"

In [49]:
"NLP" == "nlp" # use .lower() fuction

False

In [50]:
import nltk

stopword = nltk.corpus.stopwords.words('english')

In [53]:
def remove_stopwords(tokenized_list):
    text = [word for word in tokenized_list if word not in stopword]
    return text
dataset["body_text_nostop"] = dataset['body_text_tokenized'].apply(lambda x: remove_stopwords(x))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenized,body_text_nostop
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...,"[ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, i, promise, ...","[ive, searching, right, words, thank, breather, promise, wont, take, help, granted, fulfil, prom..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...,"[free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...","[free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv..."
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,"[nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]","[nah, dont, think, goes, usf, lives, around, though]"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent,"[even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]","[even, brother, like, speak, treat, like, aids, patent]"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]"